.containerLogin{
    display: flex;
    margin: auto;
    margin-top: 30vh;
    justify-content: center;
    height: 20vh;
    width: 20vw;
    flex-direction: column;
}

.containerLogin label{
    padding-top: 2vh;
    margin: auto;
}

.containerLogin p{
    text-align: center;
    padding-top: 2vh;
}

.containerLogin span{
    color: blueviolet;
    cursor: pointer;
}